n8n-workflows/01-email-monitor.json
{
  "name": "01 - Email Monitor",
  "nodes": [
    {
      "parameters": {},
      "id": "8b3c1d2e-4f5a-6b7c-8d9e-0f1a2b3c4d5e",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mailbox": "invoices@hotel.com",
        "searchCriteria": {
          "unseen": true,
          "subject": ["invoice", "bill", "statement"]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "9c4d2e3f-5a6b-7c8d-9e0f-1a2b3c4d5e6f",
      "name": "IMAP - Check Invoices",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "imap": {
          "id": "imap-invoices",
          "name": "Invoices IMAP"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "id": "ad5e3f4a-6b7c-8d9e-0f1a-2b3c4d5e6f7a",
      "name": "Extract PDF Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate email has PDF attachment\nconst attachments = $input.all()[0].binary;\nif (!attachments || Object.keys(attachments).length === 0) {\n  return [{ json: { error: \"No attachments found\" } }];\n}\n\n// Get first PDF\nconst pdfKey = Object.keys(attachments).find(key => \n  attachments[key].mimeType === 'application/pdf' || \n  attachments[key].fileName?.endsWith('.pdf')\n);\n\nif (!pdfKey) {\n  return [{ json: { error: \"No PDF attachment found\" } }];\n}\n\nreturn [{\n  json: {\n    emailId: $input.all()[0].json.id || $input.all()[0].json.messageId,\n    from: $input.all()[0].json.from,\n    subject: $input.all()[0].json.subject,\n    date: $input.all()[0].json.date,\n    pdfAttachment: attachments[pdfKey],\n    pdfKey: pdfKey\n  }\n}];"
      },
      "id": "be6f4a5b-7c8d-9e0f-1a2b-3c4d5e6f7a8b",
      "name": "Validate PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ocr-process",
        "body": {
          "emailId": "={{ $json.emailId }}",
          "from": "={{ $json.from }}",
          "subject": "={{ $json.subject }}",
          "date": "={{ $json.date }}",
          "pdfKey": "={{ $json.pdfKey }}"
        }
      },
      "id": "cf7a5b6c-8d9e-0f1a-2b3c-4d5e6f7a8b9c",
      "name": "Trigger OCR Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "dg8b6c7d-9e0f-1a2b-3c4d-5e6f7a8b9c0d",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_CHANNEL || '#procurement-alerts' }}",
        "text": "⚠️ Email Monitor Error",
        "blocks": [
          {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": "*Email Processing Error*\n\nError: {{ $json.error }}\n\nSubject: {{ $input.all()[0].json.subject }}\nFrom: {{ $input.all()[0].json.from }}"
            }
          }
        ]
      },
      "id": "eh9c7d8e-0f1a-2b3c-4d5e-6f7a8b9c0d1e",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 500],
      "credentials": {
        "slackApi": {
          "id": "slack-api",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "IMAP - Check Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMAP - Check Invoices": {
      "main": [
        [
          {
            "node": "Extract PDF Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Data": {
      "main": [
        [
          {
            "node": "Validate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate PDF": {
      "main": [
        [
          {
            "node": "Trigger OCR Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "phase-1-workflow-01"
}
