n8n-workflows/01_-_email_monitor.json
{
  "updatedAt": "2026-04-12T00:56:25.647Z",
  "createdAt": "2026-04-10T19:35:53.918Z",
  "id": "GG7ySbpgL27hJAvS",
  "name": "01 - Email Monitor",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "format": "resolved",
        "options": {
          "customEmailConfig": "[\"UNSEEN\"]"
        }
      },
      "id": "a35fd519-6b12-4d02-b68e-be77710925ab",
      "name": "IMAP - Check Invoices",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "credentials": {
        "imap": {
          "id": "meFuMA9bbtfjRgLH",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "condition-invoice",
              "leftValue": "={{ $json.subject?.toLowerCase() }}",
              "rightValue": "invoice",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "condition-bill",
              "leftValue": "={{ $json.subject?.toLowerCase() }}",
              "rightValue": "bill",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "condition-payment",
              "leftValue": "={{ $json.subject?.toLowerCase() }}",
              "rightValue": "payment",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "5915df62-93d5-4eac-8ecf-08636b846a19",
      "name": "Filter by Subject Keywords"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fee0042e-7a13-44f6-8b5d-8378935622f3",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        192
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-n8n-workflows",
          "mode": "name"
        },
        "text": "=⚠️ Email Monitor Error\n\nSubject: {{ $json.emailSubject || 'Unknown' }}\nFrom: {{ $json.emailFrom || 'Unknown' }}\nError: {{ $json.error || 'Unknown error' }}",
        "otherOptions": {}
      },
      "id": "a3e6c9e4-14f9-4142-a9f3-834e1950b7ec",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1008,
        192
      ],
      "webhookId": "4ad0cf47-e839-441f-b312-293df331c8f5",
      "credentials": {
        "slackApi": {
          "id": "B9JDVWc1VzFbt3qg",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        432
      ],
      "id": "9c0914cb-4184-406f-badf-ffbafbb9903b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-validated",
              "leftValue": "={{ $json.validated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "de566831-5995-4099-8001-fbd037af5723",
      "name": "PDF Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        608,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const binaryData = item.binary || {};\n  const binaryKeys = Object.keys(binaryData);\n\n  if (binaryKeys.length === 0) {\n    results.push({\n      json: {\n        error: 'No attachments found in email',\n        emailSubject: item.json.subject || '',\n        emailFrom: item.json.from || ''\n      }\n    });\n    continue;\n  }\n\n  let foundPdf = false;\n  for (const key of binaryKeys) {\n    const binary = binaryData[key];\n    const fileName = binary.fileName || '';\n    const mimeType = binary.mimeType || '';\n\n    if (mimeType === 'application/pdf' || fileName.toLowerCase().endsWith('.pdf')) {\n      foundPdf = true;\n      results.push({\n        json: {\n          emailId: item.json.messageId || item.json.id || 'email-' + Date.now(),\n          emailSubject: item.json.subject || '',\n          emailFrom: item.json.from || '',\n          emailDate: item.json.date || '',\n          attachmentFilename: fileName,\n          binaryPropertyName: key,\n          validated: true\n        },\n        binary: {\n          file: binary\n        }\n      });\n    }\n  }\n\n  if (!foundPdf) {\n    results.push({\n      json: {\n        error: 'No PDF attachments found',\n        emailSubject: item.json.subject || '',\n        emailFrom: item.json.from || '',\n        attachmentCount: binaryKeys.length\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "ba5ab54c-6eaf-420c-87d4-dad2f4627e5d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "id": "605a009b-02e7-458c-b52c-7a440cff51c2",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NCdhMBBTNLNUKpCe",
          "mode": "id",
          "cachedResultUrl": "/workflow/NCdhMBBTNLNUKpCe"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1008,
        0
      ],
      "id": "b8f57dab-ca23-4f30-9bd2-31e7afb3b364",
      "name": "Call '02 - OCR Processing V6 (Kimi Vision)'"
    }
  ],
  "connections": {
    "IMAP - Check Invoices": {
      "main": [
        [
          {
            "node": "Filter by Subject Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Subject Keywords": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Valid?": {
      "main": [
        [
          {
            "node": "Call '02 - OCR Processing V6 (Kimi Vision)'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "PDF Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '02 - OCR Processing V6 (Kimi Vision)'": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f885ed55-0367-4017-a26e-247feea275f1",
  "activeVersionId": null,
  "versionCounter": 10,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-12T00:21:51.194Z",
      "createdAt": "2026-04-12T00:21:51.194Z",
      "role": "workflow:editor",
      "workflowId": "GG7ySbpgL27hJAvS",
      "projectId": "HrpDc1ssnzGYkrfd",
      "project": {
        "updatedAt": "2026-04-12T00:20:42.820Z",
        "createdAt": "2026-04-11T23:31:23.053Z",
        "id": "HrpDc1ssnzGYkrfd",
        "name": "Vineet Mahesh <vineetsmahesh@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1638baa0-b04e-4e73-adbd-bc0344c08f72"
      }
    },
    {
      "updatedAt": "2026-04-10T19:35:53.919Z",
      "createdAt": "2026-04-10T19:35:53.919Z",
      "role": "workflow:owner",
      "workflowId": "GG7ySbpgL27hJAvS",
      "projectId": "nQLg5vxUpkDOoZen",
      "project": {
        "updatedAt": "2026-04-08T19:38:42.645Z",
        "createdAt": "2026-04-08T19:38:36.540Z",
        "id": "nQLg5vxUpkDOoZen",
        "name": "Martin Cupic <n1815764@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f0647ec0-4a74-4ab4-98d4-06d5e41a50c3"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}