n8n-workflows/04_-_ai_validation__command_center_integration_.json
{
  "updatedAt": "2026-04-19T03:39:40.000Z",
  "createdAt": "2026-04-19T02:58:48.249Z",
  "id": "mQh6hNiOuZfeRXLu",
  "name": "04 - AI Validation (Command Center Integration)",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bOqIhl8Law9FDgTE",
          "mode": "id",
          "cachedResultUrl": "/workflow/bOqIhl8Law9FDgTE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1904,
        -16
      ],
      "id": "2d82ec1c-7d8c-48b9-bf67-88a742c8042d",
      "name": "Call '06 - PO Creation & Approval (Command Center Integration)'"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-n8n-workflows",
          "mode": "name"
        },
        "text": "=🔍 *Requisition Pending Review*\n\nItem: {{ $('Parse AI Decision').first().json.item_name }}\nDepartment: {{ $('Parse AI Decision').first().json.department }}\nRequester: {{ $('Parse AI Decision').first().json.requester }}\n\nRequested: {{ $('Parse AI Decision').first().json.quantity_requested }} {{ $('Parse AI Decision').first().json.unit }}\nAI recommends: {{ $('Parse AI Decision').first().json.approved_quantity }} {{ $('Parse AI Decision').first().json.unit }}\n\nReason: {{ $('Parse AI Decision').first().json.reason }}\nConfidence: {{ $('Parse AI Decision').first().json.confidence }}\n\n📋 Review in Command Center to approve final quantity.",
        "otherOptions": {}
      },
      "id": "fe6c5f06-a3f1-4ce1-9aef-cfa3284d96e3",
      "name": "Slack - Pending Review",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1696,
        128
      ],
      "webhookId": "1e2b6287-f16f-4afe-bd8c-e6c5cfa641d1",
      "credentials": {
        "slackApi": {
          "id": "B9JDVWc1VzFbt3qg",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-n8n-workflows",
          "mode": "name"
        },
        "text": "=🚫 *Requisition {{ $('Parse AI Decision').first().json.decision }} by AI*\n\nItem: {{ $('Parse AI Decision').first().json.item_name }}\nDepartment: {{ $('Parse AI Decision').first().json.department }}\nReason: {{ $('Parse AI Decision').first().json.reason }}",
        "otherOptions": {}
      },
      "id": "8449f6af-e449-47fa-9f7b-183ce4fbcb7c",
      "name": "Slack - Rejected/Flagged",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1696,
        288
      ],
      "webhookId": "9d2d2ee5-29e5-4da0-9ade-74ee5be23950",
      "credentials": {
        "slackApi": {
          "id": "B9JDVWc1VzFbt3qg",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-n8n-workflows",
          "mode": "name"
        },
        "text": "=✅ *Requisition Approved by AI*\n\nItem: {{ $('Parse AI Decision').first().json.item_name }}\nQty: {{ $('Parse AI Decision').first().json.approved_quantity }} {{ $('Parse AI Decision').first().json.unit }}\nDepartment: {{ $('Parse AI Decision').first().json.department }}\nRequester: {{ $('Parse AI Decision').first().json.requester }}\nReason: {{ $('Parse AI Decision').first().json.reason }}",
        "otherOptions": {}
      },
      "id": "057805d9-d2e3-4db1-8b43-23512888d442",
      "name": "Slack - Approved",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1696,
        -16
      ],
      "webhookId": "79d35345-4c40-47f7-aca0-f2caf56f0917",
      "credentials": {
        "slackApi": {
          "id": "B9JDVWc1VzFbt3qg",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "route-approve",
                    "leftValue": "={{ $('Parse AI Decision').first().json.decision }}",
                    "rightValue": "APPROVE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "APPROVE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "route-reduce",
                    "leftValue": "={{ $('Parse AI Decision').first().json.decision }}",
                    "rightValue": "REDUCE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REDUCE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "route-reject",
                    "leftValue": "={{ $('Parse AI Decision').first().json.decision }}",
                    "rightValue": "REJECT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REJECT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "route-flag",
                    "leftValue": "={{ $('Parse AI Decision').first().json.decision }}",
                    "rightValue": "FLAG",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FLAG"
            }
          ]
        },
        "options": {}
      },
      "id": "6318566b-7583-4a15-ab19-eeee4f231081",
      "name": "Switch - AI Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1488,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/appjHlTQID87ODAJL/Audit_Trail",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Code - Prepare Payloads').first().json.audit_body }}",
        "options": {}
      },
      "id": "d1d3c00c-11a6-4d17-8c75-fa4f4a3d9b1c",
      "name": "Airtable - Audit Trail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        96
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "dmzc6SYrfINDEidP",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/appjHlTQID87ODAJL/Requisition_Log",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.update_body }}",
        "options": {}
      },
      "id": "0fbfbe13-3ce2-4d31-a0fe-a16e6dff1d11",
      "name": "Update Requisition Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        96
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "dmzc6SYrfINDEidP",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Airtable update and audit payloads\nconst data = $input.first().json;\n\n// Status mapping — REDUCE goes to pending_review (human review gate)\nconst statusMap = {\n  'APPROVE': 'approved',\n  'REDUCE': 'pending_review',\n  'REJECT': 'rejected',\n  'FLAG': 'flagged'\n};\n\n// Event type mapping — decision-appropriate, not hardcoded\nconst eventTypeMap = {\n  'APPROVE': 'Approved',\n  'REDUCE': 'Approved',\n  'REJECT': 'Rejected',\n  'FLAG': 'Rejected'\n};\n\n// Base fields for the requisition update\nconst updateFields = {\n  requisition_id: data.requisition_id,\n  status: statusMap[data.decision] || 'pending_validation',\n  ai_decision: data.ai_decision_json\n};\n\n// For REDUCE decisions, populate the review-gate fields\nif (data.decision === 'REDUCE') {\n  updateFields.original_quantity = data.quantity_requested;\n  updateFields.ai_recommended_quantity = data.approved_quantity;\n  updateFields.ai_reason = data.reason || '';\n  updateFields.ai_confidence = data.confidence || 0;\n}\n\nconst updateBody = JSON.stringify({ records: [{ fields: updateFields }] });\n\nconst auditBody = JSON.stringify({ records: [{ fields: {\n  reference_id: data.requisition_id,\n  event_type: eventTypeMap[data.decision] || 'Approved',\n  actor: 'AI',\n  details: data.decision + ': ' + data.reason + ' | Qty: ' + data.approved_quantity + '/' + data.quantity_requested + ' | Confidence: ' + data.confidence\n} }] });\n\nreturn [{ json: { ...data, update_body: updateBody, audit_body: auditBody } }];"
      },
      "id": "12e151a1-5626-47da-abb1-92774f863573",
      "name": "Code - Prepare Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\nconst parsed = JSON.parse(content.replace(/```json|```/g, '').trim());\nconst context = $('Code - Prepare AI Context').first().json;\n\nreturn [{ json: {\n  ...context,\n  decision: parsed.decision,\n  approved_quantity: parsed.approved_quantity || 0,\n  reason: parsed.reason || '',\n  confidence: parsed.confidence || 0.5,\n  flag_reason: parsed.flag_reason || null,\n  ai_decision_json: JSON.stringify(parsed)\n} }];"
      },
      "id": "62f54b28-f591-4a2c-ba83-dc60c2840ee4",
      "name": "Parse AI Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.moonshot.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'kimi-k2.5', max_tokens: 500, thinking: { type: 'disabled' }, messages: [{ role: 'system', content: 'You are a hotel procurement validation AI. Evaluate purchase requisitions against inventory data. Decide: APPROVE (quantity reasonable given stock and par levels), REDUCE (partially approve with reduced quantity), REJECT (unnecessary or inappropriate), or FLAG (data integrity issue like negative stock). If current_stock is negative, always FLAG — do not approve or reject. Respond ONLY in valid JSON. No markdown, no backticks. Raw JSON only.' }, { role: 'user', content: 'Validate this requisition:\\n\\nItem: ' + $json.item_name + '\\nDepartment: ' + $json.department + '\\nQuantity Requested: ' + $json.quantity_requested + ' ' + $json.unit + '\\nUrgency: ' + $json.urgency + '\\nRequester: ' + $json.requester + '\\nJustification: ' + $json.justification + '\\n\\nInventory Data:\\nCurrent Stock: ' + $json.current_stock + '\\nPar Level: ' + $json.par_level + '\\nReorder Point: ' + $json.reorder_point + '\\nUnit Cost: $' + $json.unit_cost + '\\nItem found in inventory: ' + $json.inventory_found + '\\n\\nRespond in JSON:\\n{\"decision\": \"APPROVE|REDUCE|REJECT|FLAG\", \"approved_quantity\": number, \"reason\": \"explanation\", \"confidence\": 0.0-1.0, \"flag_reason\": \"if FLAG, explain why\"}' }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        96
      ],
      "id": "c70b6a9b-648e-4010-9694-128de55a5c22",
      "name": "AI - Validate Requisition",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ircrqFbA5nzR0ppe",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare context for AI validation\nlet req;\ntry {\n  req = $('When Executed by Another Workflow').first().json;\n} catch (e) {\n  req = $('When clicking \"Test workflow\"').first().json;\n}\nconst invResp = $('Get Inventory Data').first().json;\nconst inv = invResp.records?.[0]?.fields || {};\n\nreturn [{ json: {\n  requisition_id: req.requisition_id,\n  item_name: req.item_name,\n  department: req.department,\n  quantity_requested: req.quantity_requested,\n  unit: req.unit || 'each',\n  urgency: req.urgency,\n  requester: req.requester,\n  justification: req.justification,\n  airtable_record_id: req.airtable_record_id || '',\n  current_stock: inv['Current Stock'] || 0,\n  par_level: inv['Par Level'] || 0,\n  reorder_point: inv['Reorder Point'] || 0,\n  unit_cost: inv['Unit Cost'] || 0,\n  inventory_found: invResp.records?.length > 0\n} }];"
      },
      "id": "e3198e5c-a4fc-4061-a1b9-40df1ab2f590",
      "name": "Code - Prepare AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://api.airtable.com/v0/appjHlTQID87ODAJL/Sample%20Inventory%20with%20Par%20Levels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "=FIND(LOWER(\"{{ $json.item_name }}\"),LOWER({Name}))>0"
            }
          ]
        },
        "options": {}
      },
      "id": "4a0918ac-54aa-4821-8295-1cbed949bbf7",
      "name": "Get Inventory Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        96
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "dmzc6SYrfINDEidP",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "id": "7f6a33b0-971d-4b69-9a11-c3db3e6fb457",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -96
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -304,
        96
      ],
      "id": "cea75e0d-39d0-4c33-b407-336c4675e0e6",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Slack - Approved": {
      "main": [
        [
          {
            "node": "Call '06 - PO Creation & Approval (Command Center Integration)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - AI Decision": {
      "main": [
        [
          {
            "node": "Slack - Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Pending Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Rejected/Flagged",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Rejected/Flagged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Audit Trail": {
      "main": [
        [
          {
            "node": "Switch - AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Requisition Status": {
      "main": [
        [
          {
            "node": "Airtable - Audit Trail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Payloads": {
      "main": [
        [
          {
            "node": "Update Requisition Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Decision": {
      "main": [
        [
          {
            "node": "Code - Prepare Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Validate Requisition": {
      "main": [
        [
          {
            "node": "Parse AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare AI Context": {
      "main": [
        [
          {
            "node": "AI - Validate Requisition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory Data": {
      "main": [
        [
          {
            "node": "Code - Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Get Inventory Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Inventory Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ec8c4913-12ec-4170-8708-ade1ee81cde2",
  "activeVersionId": null,
  "versionCounter": 13,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-19T02:58:48.251Z",
      "createdAt": "2026-04-19T02:58:48.251Z",
      "role": "workflow:owner",
      "workflowId": "mQh6hNiOuZfeRXLu",
      "projectId": "nQLg5vxUpkDOoZen",
      "project": {
        "updatedAt": "2026-04-08T19:38:42.645Z",
        "createdAt": "2026-04-08T19:38:36.540Z",
        "id": "nQLg5vxUpkDOoZen",
        "name": "Martin Cupic <n1815764@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f0647ec0-4a74-4ab4-98d4-06d5e41a50c3"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-04-10T19:25:43.930Z",
      "createdAt": "2026-04-10T19:25:43.930Z",
      "id": "o5ytOnuGSjE5aTmV",
      "name": "procurement"
    }
  ],
  "activeVersion": null
}