n8n-workflows/05-receiving-update.json
{
  "name": "05 - Receiving Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receiving",
        "responseMode": "responseNode"
      },
      "id": "z1a2b3c4-d5e6-7890-fghi-j12345678901",
      "name": "Webhook - Delivery",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "receiving"
    },
    {
      "parameters": {
        "jsCode": "// Validate delivery data\nconst data = $input.all()[0].json.body || $input.all()[0].json;\n\nconst required = ['po_number', 'vendor_name', 'delivery_items'];\nconst missing = required.filter(field => !data[field]);\n\nif (missing.length > 0) {\n  return [{\n    json: {\n      error: `Missing required fields: ${missing.join(', ')}`,\n      received: data\n    }\n  }];\n}\n\n// Validate items array\nif (!Array.isArray(data.delivery_items) || data.delivery_items.length === 0) {\n  return [{\n    json: {\n      error: 'delivery_items must be a non-empty array',\n      received: data.delivery_items\n    }\n  }];\n}\n\n// Generate delivery ID\nconst deliveryId = `DEL-${Date.now()}-${Math.random().toString(36).substr(2, 5).toUpperCase()}`;\n\nreturn [{\n  json: {\n    deliveryId: deliveryId,\n    poNumber: data.po_number,\n    vendorName: data.vendor_name,\n    deliveryDate: data.delivery_date || new Date().toISOString(),\n    receivedBy: data.received_by || 'Unknown',\n    items: data.delivery_items.map(item => ({\n      itemName: item.item_name,\n      sku: item.sku,\n      quantityOrdered: item.quantity_ordered,\n      quantityReceived: item.quantity_received,\n      unitPrice: item.unit_price,\n      notes: item.notes || '',\n      hasDiscrepancy: item.quantity_ordered !== item.quantity_received\n    })),\n    temperature: data.temperature || null,\n    qualityIssues: data.quality_issues || false\n  }\n}];"
      },
      "id": "a2b3c4d5-e6f7-8901-ghij-k23456789012",
      "name": "Validate Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "purchase_orders",
        "where": {
          "conditions": [
            {
              "column": "po_number",
              "value": "={{ $json.poNumber }}",
              "condition": "equal"
            }
          ]
        }
      },
      "id": "b3c4d5e6-f7g8-9012-hijk-l34567890123",
      "name": "Get PO Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-local",
          "name": "Local Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "deliveries",
        "columns": {
          "mapping": [
            {
              "column": "delivery_id",
              "value": "={{ $json.deliveryId }}"
            },
            {
              "column": "po_number",
              "value": "={{ $json.poNumber }}"
            },
            {
              "column": "vendor_name",
              "value": "={{ $json.vendorName }}"
            },
            {
              "column": "delivery_date",
              "value": "={{ $json.deliveryDate }}"
            },
            {
              "column": "received_by",
              "value": "={{ $json.receivedBy }}"
            },
            {
              "column": "items",
              "value": "={{ JSON.stringify($json.items) }}"
            },
            {
              "column": "temperature",
              "value": "={{ $json.temperature }}"
            },
            {
              "column": "quality_issues",
              "value": "={{ $json.qualityIssues }}"
            },
            {
              "column": "created_at",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "id": "c4d5e6f7-g8h9-0123-ijkl-m45678901234",
      "name": "Save Delivery",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [850, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-local",
          "name": "Local Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Update inventory for each received item\nconst items = $input.all()[0].json.items;\nconst deliveryId = $input.all()[0].json.deliveryId;\n\nconst inventoryUpdates = items.map(item => ({\n  json: {\n    sku: item.sku,\n    itemName: item.itemName,\n    quantityReceived: item.quantityReceived,\n    deliveryId: deliveryId\n  }\n}));\n\nreturn inventoryUpdates;"
      },
      "id": "d5e6f7g8-h9i0-1234-jklm-n56789012345",
      "name": "Prepare Inventory Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "schema": "public",
        "query": "UPDATE inventory SET current_stock = current_stock + {{ $json.quantityReceived }}, last_received_date = NOW(), last_delivery_id = '{{ $json.deliveryId }}' WHERE sku = '{{ $json.sku }}' OR item_name = '{{ $json.itemName }}'"
      },
      "id": "e6f7g8h9-i0j1-2345-klmn-o67890123456",
      "name": "Update Inventory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1250, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-local",
          "name": "Local Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.items.some(i => i.hasDiscrepancy) }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f7g8h9i0-j1k2-3456-lmno-p78901234567",
      "name": "Has Discrepancy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_CHANNEL || '#procurement-alerts' }}",
        "text": "⚠️ Delivery Discrepancy Detected",
        "blocks": [
          {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": "*Delivery Discrepancy - {{ $json.deliveryId }}*\n\nPO: {{ $json.poNumber }}\nVendor: {{ $json.vendorName }}\n\n*Discrepancies:*\n{{ $json.items.filter(i => i.hasDiscrepancy).map(i => `• ${i.itemName}: Ordered ${i.quantityOrdered}, Received ${i.quantityReceived}`).join('\\n') }}\n\nAction required: Contact vendor for credit memo."
            }
          }
        ]
      },
      "id": "g8h9i0j1-k2l3-4567-mnop-q89012345678",
      "name": "Alert Discrepancy",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 450],
      "credentials": {
        "slackApi": {
          "id": "slack-api",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_CHANNEL || '#procurement-alerts' }}",
        "text": "✅ Delivery Received",
        "blocks": [
          {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": "*Delivery Confirmed - {{ $json.deliveryId }}*\n\nPO: {{ $json.poNumber }}\nVendor: {{ $json.vendorName }}\nItems: {{ $json.items.length }}\nTotal Units: {{ $json.items.reduce((sum, i) => sum + i.quantityReceived, 0) }}\n\nInventory updated successfully."
            }
          }
        ]
      },
      "id": "h9i0j1k2-l3m4-5678-nopq-r90123456789",
      "name": "Confirm Receipt",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 550],
      "credentials": {
        "slackApi": {
          "id": "slack-api",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "jsonPayload": "={{ JSON.stringify({\n  success: true,\n  deliveryId: $json.deliveryId,\n  message: 'Delivery processed successfully',\n  itemsUpdated: $json.items.length\n}) }}"
      },
      "id": "i0j1k2l3-m4n5-6789-opqr-s01234567890",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook - Delivery": {
      "main": [
        [
          {
            "node": "Validate Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Delivery": {
      "main": [
        [
          {
            "node": "Get PO Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PO Data": {
      "main": [
        [
          {
            "node": "Save Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Delivery": {
      "main": [
        [
          {
            "node": "Prepare Inventory Updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Discrepancy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Inventory Updates": {
      "main": [
        [
          {
            "node": "Update Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Inventory": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Discrepancy?": {
      "main": [
        [
          {
            "node": "Alert Discrepancy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirm Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "phase-1-workflow-05"
}
