n8n-workflows/test-pg-where-v3.json
{
  "name": "04 - Test PG Where v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-pg-where-v3",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "test-pg-where-v3"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "requisitions",
        "where": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.body.id }}",
              "rightValue": "test-id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "pg-1",
      "name": "Get Requisition",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-local",
          "name": "Local Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "jsonPayload": "={{ JSON.stringify({ result: $json }) }}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Requisition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Requisition": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "test"
}
