n8n-workflows/test-pg-executequery.json
{
  "name": "05 - Test PG ExecuteQuery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-pg-query",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "test-pg-query"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { quantityReceived: 10, deliveryId: 'DEL-123', sku: 'ABC-001', itemName: 'Test Item' } }]"
      },
      "id": "code-1",
      "name": "Set Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "schema": "public",
        "query": "UPDATE inventory SET current_stock = current_stock + {{ $json.quantityReceived }} WHERE sku = '{{ $json.sku }}'"
      },
      "id": "pg-1",
      "name": "Update Inventory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-local",
          "name": "Local Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "jsonPayload": "={{ JSON.stringify({ done: true }) }}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Update Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Inventory": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "test"
}
