n8n-workflows/test-pg-simple.json
{
  "name": "04 - Test Postgres Simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-pg-simple",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "test-pg-simple"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "requisitions"
      },
      "id": "pg-1",
      "name": "Get All Requisitions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-local",
          "name": "Local Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "jsonPayload": "={{ JSON.stringify({ count: $json.length }) }}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get All Requisitions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Requisitions": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "test"
}
